build/out
build/shaders
build/void
build/Makefile
build/build.ninja
build/rules.ninja
build/.ninja_deps
build/.ninja_log
build/CMakeCache.txt
build/CMakeFiles/
build/cmake_install.cmake
build/cmake_uninstall.cmake
build/compile_commands.json
.cache/
.vs/
compile_commands.json
